html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  scroll-behavior: smooth;
}

#mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.875rem;
  padding: 10px 20px;
  background-color: #01C38E;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 1000;
}

#mainHeader.scrolled {
  background-color: #F4F8FB; /* 반투명 */
  backdrop-filter: blur(10px); /* 선택사항: 흐림효과 */
}

#Header {
  display: flex;
  justify-content: space-between; /* 로고 왼쪽 / 메뉴 오른쪽 */
  align-items: center;
}

.HearderLogo {
  height: 40px;         /* 로고 높이 설정 */
  width: auto;          /* 비율 유지한 채 너비 자동 */
  object-fit: contain;  /* 이미지 잘림 방지 */
  margin-top: 10px;
  margin-left: 20px;    /* 좌측 여백 */
}

#HeaderLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.HeaderNav {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding-right: 7.5rem;
  font-family: 'pretendard';
}

.HeaderNav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.NavButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

#mainHeader.scrolled .NavButton {
  color: #01C38E; /* 스크롤 후 색상 (예: 핑크) */
}

#Main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* 왼쪽 정렬 */
  background-color: #01C38E;
  text-align: left; /* 텍스트 왼쪽 정렬 */
} 

#Main p {
  font-size: 0.8rem;
  font-family: 'pretendard';
  color: white;
  margin: 0rem;
  margin-left: 5rem;
}

#MainLogo {
  width: 25rem;
  max-width: 80%;
  height: auto;
  justify-content: center;
  margin-top: 0.8rem;
  margin-left: 5rem;
}


#Video {
  width: 100%;
  padding: 50px 0; /* 위아래 여백 */
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  background-color: #f9f9f9; /* 배경색 (선택) */
}

#Video video {
  width: 80%;
  max-width: 960px;
  height: auto;
  border-radius: 10px; /* 둥글게 (선택) */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 (선택) */
}